<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name of zone</mat-label>
    <input matInput placeholder="Ex. Nintendo">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Type of zone (name)</mat-label>
    <input matInput placeholder="Ex. Games">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Contributor id</mat-label>
    <input matInput placeholder="Ex. 8299277548939">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. This company provides..."></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Total tickets amount</mat-label>
    <input matInput placeholder="Ex. 666">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Available tickets amount</mat-label>
    <input matInput placeholder="Ex. 5">
  </mat-form-field>
</form>

<button mat-button mat-dialog-close>Close</button>
