
<div id="add" *ngIf="!data.flag">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Type of zone</mat-label>
    <mat-select [(ngModel)]="data.zone.type.id">
      <mat-option *ngFor="let types of data.zoneTypes" [value]="types.id">
        {{types.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. This company provides..." [(ngModel)]="data.zone.description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Total tickets amount</mat-label>
    <input matInput placeholder="Ex. 666" [(ngModel)]="data.zone.totalTicketAmount">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Available tickets amount</mat-label>
    <input matInput placeholder="Ex. 5" [(ngModel)]="data.zone.availableTicketAmount">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name of zone</mat-label>
    <input matInput placeholder="Ex. Nintendo" [(ngModel)]="data.zone.name">
  </mat-form-field>
</div>

<div id="edit" *ngIf="data.flag">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Type of zone</mat-label>
    <mat-select [(ngModel)]="data.zone.type.id">
      <mat-option *ngFor="let types of data.zoneTypes" [value]="types.id">
        {{types.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput placeholder="Ex. This company provides..." [(ngModel)]="data.zone.description"></textarea>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Total tickets amount</mat-label>
    <input matInput placeholder="Ex. 666" [(ngModel)]="data.zone.totalTicketAmount">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Available tickets amount</mat-label>
    <input matInput placeholder="Ex. 5" [(ngModel)]="data.zone.availableTicketAmount">
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Name of zone</mat-label>
    <input matInput placeholder="Ex. Nintendo" [(ngModel)]="data.zone.name">
  </mat-form-field>
</div>

<button mat-button [matDialogClose]="data.zone" cdkFocusInitial>Ok</button>
<button mat-button (click)="onNoClick()">Close</button>
