<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>

<body>
    <h1 class="mainPart"><b>That's all you need to know about us</b></h1>
    
    <h3 class="thirdPart"><b>Get in Touch</b></h3>
    <div class="contact-page">
        <div class ="contact-info">
            <div class="item">
               <i class="icon fas fa-home"></i>
               New York, United States
            </div>
            <div class="item">
                <i class="icon fas fa-phone"></i>
                +0(999)-999-99-99
             </div>
             <div class="item">
                <i class="icon fas fa-envelope"></i>
                golovanshalom@gmail.com
             </div>
             <div class="item">
                <i class="icon fas fa-clock"></i>
                Everyday 9:00 - 20:00
             </div>
        </div>
    </div>
</body>