.mat-tab-nav-bar {
  float: right;
  display: block;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #ECF30A;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover {
  color: #2DF30A;
}

nav a:hover::before {
  width: 100%;
}
#login,#logout {
  right: 5px;
  float: right;
  background-color: #2DF30A;
  color: black;
  border-top: 5px;
  border-bottom: 5px;
}
.container{
  top: 50px;
}

