<div class="zone-container">
  <button mat-icon-button color="primary" id="mainMenu" [matMenuTriggerFor]="menu"
          aria-label="Menu icon button with a vertical three dot icon">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="sortingMenu">Sort zones</button>
    <button *ngIf="_roles.includes('contributor')" mat-menu-item [matMenuTriggerFor]="contributorMenu">Editing zones
    </button>
  </mat-menu>

  <mat-menu #contributorMenu="matMenu">
    <button mat-menu-item (click)="openDialogForAdd()">
      <mat-icon>add</mat-icon>
      Add zone
    </button>
    <button mat-menu-item (click)="addZoneType()">
      <mat-icon>library_add</mat-icon>
      Add type of zone
    </button>
    <button mat-menu-item (click)="openBottomSheet()">
      <mat-icon>group_work</mat-icon>
      List of Zone Type
    </button>
  </mat-menu>

  <mat-menu #sortingMenu="matMenu">
    <button mat-menu-item *ngFor="let types of zoneTypes" (click)="getZonesByType(types.id)">{{types.name}}</button>
  </mat-menu>
</div>
<div id="card-list">
  <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
    <mat-grid-tile *ngFor="let zone of zones">
      <mat-card id="zone-card">
        <mat-card-subtitle>{{zone.type.name}}</mat-card-subtitle>
        <mat-card-title>{{zone.name}}</mat-card-title>
        <mat-card-content>
          <p>{{zone.description}}</p>
          <p *ngIf="_roles.includes('contributor')">Total amount of tickets: {{zone.totalTicketAmount}}</p>
          <p>Amount of available tickets: {{zone.availableTicketAmount}}</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button *ngIf="_roles.includes('contributor')" mat-button (click)="openDialogForEditing(zone.id)">Edit</button>
          <button *ngIf="_roles.includes('contributor')" mat-button (click)="deleteZone(zone)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
