<div class="container">
<button mat-button id="mainMenu" [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="sortingMenu">Sort zones</button>
  <button *ngIf="_roles.includes('contributor')" mat-menu-item [matMenuTriggerFor]="contributorMenu">Editing zones</button>
</mat-menu>

  <mat-menu #contributorMenu="matMenu">
    <button mat-menu-item>Add zone</button>
    <button mat-menu-item>Delete zone</button>
    <button mat-menu-item>Edit zone</button>
  </mat-menu>

  <mat-menu #sortingMenu="matMenu">
    <button mat-menu-item>Games</button>
    <button mat-menu-item>Films</button>
    <button mat-menu-item>Books</button>
    <button mat-menu-item>Food</button>
    <button mat-menu-item>Administration</button>
  </mat-menu>
</div>
