#mainMenu{
  color: #2DF30A;
  float: left;
  padding: 5px;
}
.zone-container{
  float: left;
  top: 50px;
}
#card-list{
  padding-left: 20px;
  padding-top: 60px;
}
#zone-card {
  min-width: 200px;
  min-height: 200px;
  max-width: 300px;
}



